@model CvWebsite.Models.Entity.TbTalents
@{
    ViewBag.Title = "YetenekEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-control" method="post">
    @Html.Label("Yetenek")
    @Html.TextBoxFor(x => x.Talent, new { @class = "form-control" })
    <br />
    @Html.Label("Oran")
    @Html.TextBoxFor(x => x.Ratio, new {@class="form-control"})
    <br />
    <button class="btn btn-danger">Kaydet</button>
</form>



