@using CvWebsite.Models.Entity
@model List<TbExperiences>
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<form method="post">
    <br />
    <h3>Yeni Deneyim Ekle</h3>
    <br />

    <input type="text" name="Title" class="form-control" placeholder="Başlık" />
    <br />
    <input type="text" name="Subtitle" class="form-control" placeholder="AltBaşlık" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Tarih" />
    <br />
    <textarea placeholder="Açıklama" class="form-control" rows="5" name="Explanation"></textarea>
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>

